body{
    font-family: 'Oswald';
    font-size: 20px;
    background-color: lightslategray;
    align-content: center;
}

.full{
    width: 100%;
}

form {
    width: mid-content;
    background-color: white;
    padding: 20px 25px 20px 20px;
    margin: 40px;
    border-radius: 5px;
    box-sizing: content-box;
}



input[type="submit"]{
        background-color: green;
        border: 0px;
        color: white;
        height: 20px;
        width: 60px;
        font-size: 10px;
}

input[type="reset"]{
        background-color: red;
        border: 0px;
        height: 20px;
        width: 60px;
        font-size: 10px;
}